@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #fff;
    padding: 2rem 4rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.header-direita{
    display: flex;
    align-items: center;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    transition: color 0.3s ease;
    border-bottom: 4px solid transparent;
    padding-bottom: 39px;
}   

nav a:hover{
    color: hsl(220, 13%, 13%);
    border-bottom: 4px solid hsl(26, 100%, 55%);
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.header-esquerda{
    display: flex;
    align-items: center;
    gap: 40px;
}

#cart{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

#cart:hover{
    filter: brightness(0); 
}


#profile{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#profile:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

main{
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.imagem-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.imagem-principal>img{
    width: 65%;
    border-radius: 15px;
    cursor: pointer;
}

.thumbnails{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.thumbnails>img{
    width: 13%;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out, opacity 0.3s ease-in-out;
}   

.thumbnails>img:hover{
    border: 3px solid hsl(26, 100%, 55%);
    opacity: 0.6;
}

.detalhes-produto{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.marca{
    text-transform: uppercase;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
    opacity : 0.7;
}

.titulo-produto{
    font-size: 45px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    line-height: 1;
    margin-bottom: 10px;
}

.descricao-produto{
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}   

.preco{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 40%;
    flex-wrap: wrap;
}

.preco-atual{
    font-size: 28px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    margin-right: 10px;
}

.desconto{
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    font-weight: 700;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 16px;
}   

.preco-antigo{
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
    font-weight: 600;
}

.adicionar-carrinho{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.quantidade{
    display: flex;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    padding: 10px 20px;
    gap: 40px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.quantidade button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;    
}

.quantidade button:hover{
    transform: scale(1.2);
}

.botao-carrinho{
    flex: 1;
    background-color: hsl(26, 100%, 55%);
    color: hsl(220, 13%, 13%);
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, fill 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao-carrinho:hover{
    background-color: hsl(26, 100%, 60%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.botao-carrinho img{
    filter: invert(1) sepia(0) saturate(0) hue-rotate(180deg) brightness(0) contrast(1);
}